*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build

/.gradle/
/app/build/
/CropPic/build/
/CropPic/src/androidTest/
/crop/build/
/dialog/build/
/citypicker/build/
/gradle.properties
/xjj.jks

将删除 app/src/main/ic_launcher-web.png
将删除 citypicker/libs/
将删除 depth/libs/
