*.iml
/.idea/workspace.xml
/.idea/libraries
/build
/gradle.properties

/app/build/
/crop/build/
/dialog/build/
/citypicker/build/
/xjj.jks

将删除 .gradle/
将删除 app/src/main/ic_launcher-web.png
将删除 citypicker/libs/
将删除 depth/libs/
/JPushLibrary/build/
.gradle/
